<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="project.com.br.controlefrota_treinamento" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="com.orm.SugarApp">

        <meta-data android:name="DATABASE" android:value="controle_frota.db" />
        <meta-data android:name="VERSION" android:value="1" />
        <meta-data android:name="QUERY_LOG" android:value="true" />
        <meta-data android:name="DOMAIN_PACKAGE_NAME" android:value="project.com.br.controlefrota_treinamento" />

        <activity
            android:name="project.com.br.controlefrota_treinamento.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Busca Unidade/Sincronizacao Inicial - begin -->
        <activity android:name="project.com.br.controlefrota_treinamento.SincronizacaoInicialActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>


        <!-- Entrega chaves - begin -->
        <activity android:name="project.com.br.controlefrota_treinamento.EntregaChaveCarrosActivity"
            android:parentActivityName="project.com.br.controlefrota_treinamento.MainActivity"
            android:label="@string/lbl_entrega_chave_carros"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>

        <activity android:name="project.com.br.controlefrota_treinamento.EntregaChaveMotoristasActivity"
            android:parentActivityName="project.com.br.controlefrota_treinamento.EntregaChaveCarrosActivity"
            android:label="@string/lbl_entrega_chave_motoristas"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <!-- Entrega chaves - end -->

        <!-- Saida Veiculos - begin -->
        <activity android:name="project.com.br.controlefrota_treinamento.SaidaVeiculosCarrosActivity"
            android:parentActivityName="project.com.br.controlefrota_treinamento.MainActivity"
            android:label="@string/lbl_saida_veiculos_carros"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>

        <activity android:name="project.com.br.controlefrota_treinamento.SaidaVeiculosAvariasActivity"
            android:parentActivityName="project.com.br.controlefrota_treinamento.SaidaVeiculosCarrosActivity"
            android:label="@string/lbl_saida_veiculos_avarias"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>

        <activity android:name="project.com.br.controlefrota_treinamento.SaidaVeiculosCheckListActivity"
            android:parentActivityName="project.com.br.controlefrota_treinamento.SaidaVeiculosAvariasActivity"
            android:label="@string/lbl_saida_veiculos_checklist"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>

        <activity android:name="project.com.br.controlefrota_treinamento.SaidaVeiculosConfirmacaoActivity"
            android:parentActivityName="project.com.br.controlefrota_treinamento.SaidaVeiculosCheckListActivity"
            android:label="@string/lbl_saida_veiculos_saida_confirmacao"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <!-- Saida Veiculos - end -->

        <!-- Entrada veiculo - begin -->
        <activity android:name="project.com.br.controlefrota_treinamento.EntradaVeiculosActivity"
            android:parentActivityName="project.com.br.controlefrota_treinamento.MainActivity"
            android:label="@string/lbl_entrada_veiculos"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <!-- Entrada veiculo - end -->

        <activity android:name="project.com.br.controlefrota_treinamento.DevolucaoActivity"
            android:parentActivityName="project.com.br.controlefrota_treinamento.MainActivity"
            android:label="@string/lbl_devolucao_chaves"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>

        <activity android:name="project.com.br.controlefrota_treinamento.StatusActivity"
            android:parentActivityName="project.com.br.controlefrota_treinamento.MainActivity"
            android:label="@string/lbl_status"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>

        <activity android:name="project.com.br.controlefrota_treinamento.InformationActivity"
            android:parentActivityName="project.com.br.controlefrota_treinamento.MainActivity"
            android:label="@string/lbl_informacoes"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
    </application>

</manifest>
